*{
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
}
body{
    background-color:hsl(212, 45%, 89%);
    
   width:100%;
   
   
}


.container{
    margin-top: 200px;
   height: 550px;
   width: 350px;
   margin-left: auto;
   margin-right: auto;
   background-color:white;
   border-radius: 25px;
}
img{
    padding: 20px;
    height: 350px;
    width: 350px;
    border-radius: 34px;
    
    
}
h2{
    text-align: center;
    color: hsl(218, 44%, 22%);
    padding: 0px 30px;
    margin-top: 0;
    font-weight: 700;
}
p{
    font-size: 15px;
    text-align: center;
    color: hsl(220, 15%, 55%);
    padding: 0 54px;
}
@media only screen and (max-device-width: 375px) {
}